{% extends "base.html"%}
{%block content%}
<!-- Alternative detail view for booking by users -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<br />
<h3><p class="text-lg-center">Mitarbeiterdaten</p></h3>
<div class="container">
   <div class="table-responsive">
     <table class="table">
       <thead>
       <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Vorname</th>
         <th>Handynummer</th>
         <th>Datum CheckIn</th>
         <th>Datum CheckOut</th>
         <th>Fr&uuml;hst&uuml;ck</th>
         <th>Gebucht durch</th>
       </tr>
       </thead>
     </table>
</div>
</div>
<br />
<h3><p class="text-lg-center">Hotel Daten</p></h3>
<div class="container">
   <div class="table-responsive">
     <table class="table">
       <thead>
       <tr>
         <th>ID</th>
         <th>Hotelname</th>
         <th>Straße</th>
         <th>PLZ</th>
         <th>Ort</th>
         <th>Tel</th>
         <th>Fax</th>
         <th>E-Mail</th>
       </tr>
       </thead>
     </table>
</div>
</div>
</body>
<footer>
  <div class="mx-auto" style="">
  <button type="button" class="btn btn-dark-link">Drucken</button>
  <button type="button" class="btn btn-dark-link">Kosten&uuml;bernahme</button>
  <button type="button" class="btn btn-dark-link" rel="home.html">&Uuml;bersicht</button>
  </div>
</footer>
</html>
{% endblock %}