<!-- überschreibt base.html -->
{% extends "base.html"%}
{% block title %}home{% endblock %}
{%block content%}

<br />
<h3><p class="text-lg-center">Buchungs&uuml;bersicht</p></h3>
<div class="container">
   <div class="table-responsive">
     <table class="table">
       <thead>
       <tr>
         <th>ID</th>
         <th>Mitarbeiter</th>
         <th>Hotel</th>
         <th>von</th>
         <th>bis</th>
           <th>Buchungsart</th>
         <th>Datum der Buchung</th>
           <th>Gebucht durch</th>
       </tr>
       </thead>
       <tbody>
        <tr>
           {% for book in bookingdata %}
            <td>{{book[0]}}</td>
            <td>{{book[1]}}</td>
            <td>{{book[2]}}</td>
            <td>{{book[3]}}</td>
            <td>{{book[4]}}</td>
            <td>{{book[6]}}</td>
            <td>{{book[7]}}</td>
            <td>{{book[8]}}</td>
            <td><button>Details</button></td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
</div>
</div>
{% endblock %}

